<html>
    <head>
        <title>Character Spells</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <label for="char-name">Character:</label>
        <select name="char-names" id="char-names">
            {{#each data}}
                <option value={{this.characterName}}>{{this.characterName}}</option>
            {{/each}}
        </select>

        <thead>
            <tr>
                <th>Add/Remove</th>
                {{#each data2.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th><input type="checkbox" id="addremovespell" name="addremovespell" value="hasSpell"></th>
                <th>{{this.spellName}}</th>
                <th>{{this.spellEffect}}</th>
                <th>{{this.spellType}}</th>
            </tr>
            {{/each}}
        </tbody>
    </body>

    </body>